#category-selection-page{
    margin-top: 40px;
}

.category{
    display: inline-block;
    margin: 20px;
    position: relative;
    
}

.category .square{
    position: relative;
    width: 250px;
    padding-bottom: 250px;
    margin: 1.66%;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    outline: none;
    transition: border-color 300ms;
}

.category .square:hover,
.category .square:active {
  color: #000;
  border: 2px solid #f7B733;
}

.content{
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    
}

@media only screen and (max-width: 451px) , (max-height: 451px){
    #category-selection-page .square{
        width: 100px;
        padding-bottom: 100px;
    }

    #category-selection-page h2
    {
        font-size: 30px;
    }
    .fa-custom{
        font-size:2em !important;
    }
}
@media only screen and (min-width : 452px) and (max-width: 825px){
    #category-selection-page{
        margin-top: 10px;
    }

    #category-selection-page .square{
        width: 150px;
        padding-bottom: 140px;
    }
    #category-selection-page h2
    {
        font-size: 30px;
    }
    .fa-custom{
        font-size:3em !important;
    }
}
@media only screen and (min-width : 825px) and (max-width: 1000px){
    #category-selection-page{
        margin-top: 20px;
    }
    #category-selection-page .categories{
            margin: 0px 5% 0px 5%;    }
    #category-selection-page .square{
        width: 200px;
        padding-bottom: 185px;
    }
    #category-selection-page h2
    {
        font-size: 40px;
    }
    .fa-custom{
        font-size:3em !important;
    }
}

/*@media only screen and (min-width: 599px){

    #category-selection-page .square{
        width: 250px;
        padding-bottom: 250px;
    }

    #category-selection-page .section-content h2
    {
        font-size: 50px;
    }
    
    
}
*/

