#category-selection-page .section-bottom-content{
    margin-top: 40px;
}



/*@media only screen and (min-width: 599px){

    #category-selection-page .square{
        width: 250px;
        padding-bottom: 250px;
    }

    #category-selection-page .section-content h2
    {
        font-size: 50px;
    }
    
    
}
*/

