p{
	margin:0;
	font-size:14px;
}

h3{
    padding: 0px;
    margin: 0px;
    padding-bottom: 30px;
}

.drawing-surface img{
	height: 100%;
	width: 100%;
}

.editor-surface h4{
	font-size: 20px;
	font-weight: bold;
}

.editor-surface .chart-slice{
	display: inline-block;
	width: 100%;
	margin-left: 20px;
}

.editor-surface .chart-slice .color-input{
	float:left;
}

.editor-surface .chart-slice p{
	text-align: left;
	width: 90px;
	float:left;
	color:white;
	font-size:17;
	line-height: 1.5;
	font-weight: 500;
	margin-left: 10px;
}

.editor-surface .chart-slice .count-input{
	margin-left: 10px;
	float:left;
	height: 23px;
	width: 38px;
}