#start-page{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-style: normal;
    font-weight: 100;
}
#start-page a{
    font-size: 20px;
}
#start-page .section-bottom-content{
    margin-top: 300px
}

@media screen and (max-width: 480px){
    
    #start-page .section-bottom-content{
        margin-top: 100px;
    }
    
}