html{
    height: 100%;
    width: 100%;
}
body{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-variant: normal;
    font-style: normal;
    font-weight: 100;
    height: 100%;
    width: 100%;
    background-image: url("../img/blurred_graph.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
h2{
    font-size:60px;
}
h6{
    font-size:25px;
    margin:0;
}

.layout-background{
    height: 100%;
    width: 100%;

}
.fa-custom{
    font-size:5em!important;
}

.section-top{
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;

}

.section-bottom{
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.logo{
    height: 100%;
    text-align: center;
}

.ghost-button {
    display: inline-block;
    width: 150px;
    padding: 8px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 300ms, border-color 700ms;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #f7B733;
  color: #000;
  border: 1px solid #f7B733;
}


.category{
    display: inline-block;
    margin: 20px;
    position: relative;
    
}
.square{
    position: relative;
    width: 250px;
    padding-bottom: 250px;
    margin: 1.66%;
    overflow: hidden;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    outline: none;
    transition: border-color 300ms;
}

.square:hover,
.category .square:active {
  color: #000;
  border: 2px solid #f7B733;
}

.content{
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
    cursor:pointer;
}

#category-selection-page .section-bottom-content , #chart-type-selection-page .section-bottom-content {
    margin-top: 40px;
}

@media only screen and (max-width: 451px) , (max-height: 451px){
    .square{
        width: 100px;
        padding-bottom: 100px;
    }

    h2
    {
        font-size: 30px;
    }
    .fa-custom{
        font-size: 2em !important;
    }
}
@media only screen and (min-width : 452px) and (max-width: 825px){
    .layout-background{
        margin-top: 10px;
    }

    .square{
        width: 150px;
        padding-bottom: 140px;
    }
    .layout-background h2
    {
        font-size: 30px;
    }
    .fa-custom{
        font-size:3em !important;
    }
}
@media only screen and (min-width : 825px) and (max-width: 1000px){
    .layout-background{
        margin-top: 20px;
    }
    .categories{
            margin: 0px 5% 0px 5%;    }
    .square{
        width: 200px;
        padding-bottom: 185px;
    }
    .layout-background h2
    {
        font-size: 40px;
    }
    .fa-custom{
        font-size: 4em !important;
    }
}

