a{
    font-size: 20px;
}

.ghost-button {
    display: inline-block;
    width: 150px;
    padding: 8px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 300ms, border-color 700ms;
    margin-top: 30px;
    
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #f7B733;
  color: #000;
  border: 1px solid #f7B733;
}

h2{
    margin-top: 300px;
    margin-bottom: 0;
}
@media screen and (max-width: 480px){
    .section-content{
        top:0;
    }
        .section-content h2{
            margin-top: 100px;
            font-size:50px;
        }
}